###### In this assignment students will build the random forest model after normalizing the variable to house pricing from boston data set.

In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
from sklearn import preprocessing
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [10]:
#Load Data
boston = datasets.load_boston()
bos = pd.DataFrame(boston.data, columns=boston.feature_names)
bos['price'] = pd.DataFrame(boston.target)
bos.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [11]:
#check for null values
bos.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
price      0
dtype: int64

In [12]:
#Select the dependent 
X=bos.iloc[:,0:-1]
y=bos.iloc[:,-1:]
y.head(1)

   price
0   24.0

In [36]:
#Train and Test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [37]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 326 to 317
Data columns (total 13 columns):
CRIM       354 non-null float64
ZN         354 non-null float64
INDUS      354 non-null float64
CHAS       354 non-null float64
NOX        354 non-null float64
RM         354 non-null float64
AGE        354 non-null float64
DIS        354 non-null float64
RAD        354 non-null float64
TAX        354 non-null float64
PTRATIO    354 non-null float64
B          354 non-null float64
LSTAT      354 non-null float64
dtypes: float64(13)
memory usage: 38.7 KB

In [108]:
#Random forest claasifier 
ranf_cla=RandomForestRegressor(max_features=6, random_state=3,min_samples_split=2)
ranf_cla.fit(X_train,y_train)
train_score_rf=ranf_cla.score(X_train,y_train)
test_score_rf=ranf_cla.score(X_test,y_test)
print("--------Random Forest Classifier--------")
print("Training Score ",train_score_rf)
print("Test Score ",test_score_rf)

--------Random Forest Classifier--------
Training Score  0.9797375287052399
Test Score  0.8160639224908973

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
#implementing Bagggin claasifier using KNN as base estimator
bag_clas=BaggingRegressor(n_estimators=5,random_state=5)
bag_clas.fit(X_train,y_train)
train_score_bag=bag_clas.score(X_train,y_train)
test_score_bag=bag_clas.score(X_test,y_test)
print("--------Bagging Classifier--------")
print("Training Score ",train_score_bag)
print("Test Score ",test_score_bag)

--------Bagging Classifier--------
Training Score  0.9594347534347214
Test Score  0.76440904605202

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)